

* {
	box-sizing: border-box;
}

html {
	min-height: 100vh;
	overflow-y: scroll;
	margin: 0;
	padding: 0;
}

body {
	
	color: $color-dark;
	margin: 0;
	padding: 0;
}


.home #wrap {
	padding: 0;
}


.hero {
	background-size: cover;
	background-position: center;
	width: 100%;
	min-height: 500px;


	.hero-overlay {
		position: relative;
		top: 50%;
		transform: translateY(-50%);
		transform-style: preserve-3d;
		width: 100%;
		text-align: center;

		h1 {
			color: $color-light;
			font-size: 40px;
		}
	}
}
